.card {
  width: 17em;
  background: var(--ourBlack);
  padding: 0.4em;
  border-radius: 6px;
  margin: 10px;
}

.card-img {
  background-color: rgb(236, 236, 236);
  height: 130px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  text-align: left;
}

.onStock {
  color: var(--ourGreen);
  font-size: inherit;
  line-height: 30px;
  text-align: center;
}

.outStock {
  color: rgba(54, 54, 54);
  font-size: inherit;
  line-height: 30px;
  text-align: center;
}

.card-body {
  padding: 5px 15px;
}

.card-name {
  color: var(--ourWhite);
}

.card-description {
  background-color: rgb(25, 135, 84);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--ourWhite);
  font-weight: 400;
  font-size: medium;
}

.card-price {
  color: var(--ourWhite);
  font-size: 2rem;
  line-height: 30px;
}

.card-info {
  display: flex;
  font-size: 1rem;
  text-align: center;
  justify-content: space-between;
}

#off-button {
  background-color: var(--ourBlackButton);
  color: gray;
  cursor: auto;
  pointer-events: none;
}

#off-image {
  filter: grayscale(100%);
}